.url-form {
  .error-help {
    display: none;

    .form-group.has-error & {
      display: inline;
    }
  }

  .control-label {
    margin-bottom: 5px;
  }

  .long-url .control-label {
    font-size: 18px;
  }

  .page-header {
    & > * {
      font-size: 36px;
    }

    .link, .noodle {
      color: #19736c
    }

    .noodle-icon {
      color: #4986ba;
      margin-left: -4px;
      margin-right: -4px;
    }
  }

  .generated-link {
    font-size: 19px;
  }

  .clipboard-button {
    margin-top: 20px;
  }
}